* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4efe8;
}

.hero {
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 50px;
    gap: 40px;
}


.hero-left {
    position: relative;
}

.img-top {
    width: 90%;
    border-radius: 20px;
    object-fit: cover;
}

.img-bottom {
    width: 80%;
    position: absolute;
    bottom: -60px;
    left: 60px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}


.hero-right h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
}

.subtitle {
    color: #555;
    line-height: 1.6;
    margin-bottom: 25px;
}

.features {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
    color: #6a5d45;
    font-weight: 500;
}


.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 10px;
}

.box {
    background: #ffffff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.box h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.box p {
    color: #666;
    margin-bottom: 12px;
    line-height: 1.5;
}

.box-point {
    color: #8a7b5b;
    font-weight: 500;
    font-size: 14px;
}


.actions {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-primary {
    background: #9c8455;
    color: white;
    border: none;
    padding: 14px 26px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #7d6a45;
}

.quote {
    color: #9c8455;
    font-weight: 600;
    text-decoration: none;
}

.quote:hover {
    text-decoration: underline;
}


@media (max-width: 900px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .img-bottom {
        position: static;
        width: 100%;
        margin-top: 20px;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 470px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    align-items: center;
}
.grid {
    display: grid;
}
.grid img {
    grid: area 1/ 1;;
}
.grid img:last-child{
    margin-top: 50px;
    margin-left: 30px;
}
.video
{
    width: 600px;
    height:600px;
}
